* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  background-color: #8c0303;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.checkbox .trace {
  width: 90px;
  height: 8px;
  background-color: white;
  position: absolute;
  border-radius: 4px;
  transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
  top: 26px;
  transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
  top: 46px;
  transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
  top: 66px;
  transform: rotate(0);
}

/* # seleciona a ID do elemento input */

#toggle {
  display: none;
}

/* + seleciona o que tem dentro (filhos), sem ser em ordem */
/* 
explicação: #toggle:checked seleciona o elemento input no estado checked (pseudoclasse)
.checkbox .trace seleciona as divs dentro do elemento checkbox quando ele está no estado :checked
:nth-child() seleciona separadamente cada filho para mudar as posições */

#toggle:checked + .checkbox .trace:nth-child(1) {
  transform: rotate(45deg);
  top: 47px;
}

/* ao invés de apenas girar, desliza para a esquerda e esconde o palito do meio */
#toggle:checked + .checkbox .trace:nth-child(2) {
  transform: translateX(-100px);
  width: 30px;
  visibility: hidden;
  opacity:0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
  transform: rotate(-45deg);
  top: 48px;
}